<div class='map'>
  <%= image_tag 'map.png' %>

  <%= link_to static_pages_castle_path do %>
    <div class='castle'></div>
  <% end %>

  <%= link_to static_pages_town_path do %>
    <div class='town'></div>
  <% end %>
</div>