<div class='map'>
  <%= image_tag 'map.png' %>

  <a href='#' >
    <div class='castle'></div>
  </a>

  <a href='#' >
    <div class='town'></div>
  </a>
</div>

<div class='town_info'>
  <h2>Players in Town:</h2>
  <ul>
    <% User.all.where(position: 'Town').each do |u| %>
      <li><%= u.name %></li>
    <% end %>
  </ul>
  <%= link_to 'Go to Town', static_pages_town_path %>
</div>