.map{
  position:relative;
}

.town{
  width:110px;
  height:55px;
  position:absolute;
  bottom:277px;
  left:355px;
}

.castle{
  width:80px;
  height:50px;
  position:absolute;
  bottom:80px;
  left:220px;
}